{% extends 'SIStoreBundle::index.html.twig' %}

{% set og_url = generate_og_url(collection) %}
{% set component = page.component %}

{% block title %}{{ parent() }} - {{ page.name }}{% endblock %}

{% block header %}
    <div class="clearfix">
        {% if component.out_link is defined %}
            <a href="{{ component.out_link.url }}" target="_blank" class="dotcom">{{ component.out_link.name }}</a>
        {% endif %}
    </div>

    <header class="clearfix">
        <h1>{{ page.name }}</a></h1>
    </header>
{% endblock %}

{% block meta %}
    {{ parent() }}

    <meta property="og:title" content="{{ page.og_title }}" />
    <meta property="og:url" content="{{ og_url }}" />

    {% if page.og_image_asset is defined %}
        <meta property="og:image" content="{{ (asset_base_url ~ page.og_image_asset.file_path ~ '_m.' ~ page.og_image_asset.file_extension)|ensure_protocol }}" />
    {% endif %}

    {% if page.og_description %}
        <meta property="og:description" content="{{ page.og_description }}" />
    {% endif %}

    {% if instream.swf_url %}
    <meta property="og:video" content="{{ instream.swf_url|ensure_protocol }}" />
    <meta property="og:video:secure_url" content="{{ instream.swf_url|ensure_protocol('https') }}" />
    {% endif %}

    {% if instream.video_width %}
        <meta property="og:video:width" content="{{ instream.video_width }}" />
    {% endif %}
    {% if instream.video_height %}
        <meta property="og:video:height" content="{{ instream.video_height }}" />
    {% endif %}
    {% if instream.video_type %}
        <meta property="og:video:type" content="{{ instream.video_type }}" />
    {% endif %}
{% endblock %}

{% block content %}

    {# Use flexslider plugin if more than 1 slide exists #}
    {% set slides = [] %}
    {% for ordinal in ['first', 'second', 'third'] %}
        {% if attribute(component, ordinal ~ '_' ~ 'video') is defined %}
            {% set slide = attribute(component, ordinal ~ '_' ~ 'video') %}
            {% set slides = slides|merge([slide]) %}
        {% elseif attribute(component, ordinal ~ '_' ~ 'image') is defined %}
            {% set slide = attribute(component, ordinal ~ '_' ~ 'image') %}
            {% set slides = slides|merge([slide]) %}
        {% endif %}
    {% endfor %}

    {% if slides|length > 1 %}

        {# 3 VIDEOS OR IMAGES #}
        {# Video embed urls are generated in app.js and sets iframe src. #}

        <div class="flexslider">

            <ul class="slides">
                {% if component.first_video is defined %}
                    <li class="video">
                        <div class="embed-container">
                            <iframe src="" width="640" height="360" frameborder="0"
                                    webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </li>
                {% elseif component.first_image is defined %}
                    {% set asset = component.first_image.asset %}
                    <li>
                        <div class="embed-container"><img src="{{ asset_base_url ~ asset.file_path ~ '_l.' ~ asset.file_extension }}" alt="{{ asset.name }}"></div>
                    </li>
                {% endif %}

                {% if component.second_video is defined %}
                    <li class="video">
                        <div class="embed-container">
                            <iframe src="" width="640" height="360" frameborder="0"
                                    webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </li>
                {% elseif component.second_image is defined %}
                    {% set asset = component.second_image.asset %}
                    <li>
                        <div class="embed-container"><img src="{{ asset_base_url ~ asset.file_path ~ '_l.' ~ asset.file_extension }}" alt="{{ asset.name }}"></div>
                    </li>
                {% endif %}

                {% if component.third_video is defined %}
                    <li class="video">
                        <div class="embed-container">
                            <iframe src="" width="640" height="360" frameborder="0"
                                    webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </li>
                {% elseif component.third_image is defined %}
                    {% set asset = component.third_image.asset %}
                    <li>
                        <div class="embed-container"><img src="{{ asset_base_url ~ asset.file_path ~ '_l.' ~ asset.file_extension }}" alt="{{ asset.name }}"></div>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="flexslider-nav">
            <ul id="thumbnails" class="clearfix">

                {% if component.first_video is defined %}
                    {% set asset = component.first_video.asset %}
                    <li class="thumb1 video" ><a href="#" data-video="{{ asset.url }}"><img src="" alt="{{ asset.name }}"></a></li>
                {% elseif component.first_image is defined %}
                    {% set asset = component.first_image.asset %}
                    <li class="thumb1"><a href="#"><img src="{{ asset_base_url ~ asset.file_path ~ '_m.' ~ asset.file_extension }}" alt="{{ asset.name }}"></a></li>
                {% endif %}

                {% if component.second_video is defined %}
                    {% set asset = component.second_video.asset %}
                    <li class="thumb2 video" ><a href="#" data-video="{{ asset.url }}"><img src="" alt="{{ asset.name }}"></a></li>
                {% elseif component.second_image is defined %}
                    {% set asset = component.second_image.asset %}
                    <li class="thumb2"><a href="#"><img src="{{ asset_base_url ~ asset.file_path ~ '_m.' ~ asset.file_extension }}" alt="{{ asset.name }}"></a></li>
                {% endif %}

                {% if component.third_video is defined %}
                    {% set asset = component.third_video.asset %}
                    <li class="thumb3 video" ><a href="#" data-video="{{ asset.url }}"><img src="" alt="{{ asset.name }}"></a></li>
                {% elseif component.third_image is defined %}
                    {% set asset = component.third_image.asset %}
                    <li class="thumb3"><a href="#"><img src="{{ asset_base_url ~ asset.file_path ~ '_m.' ~ asset.file_extension }}" alt="{{ asset.name }}"></a></li>
                {% endif %}
            </ul>
        </div>
    {% elseif slides|length == 1 %}
        {% set slide = slides|first %}
        {% set asset = slide.asset %}
        {% if slide.discr == 'image'  %}
            <div class="embed-container"><img src="{{ asset_base_url ~ asset.file_path ~ '_l.' ~ asset.file_extension }}" alt="{{ asset.name }}"></div>
        {% else %}
            <div class="embed-container">
                <iframe data-video="{{ asset.url }}" src="" width="640" height="360" frameborder="0"
                        webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
       {% endif %}
    {% endif %}

    {# CAMPAIGN TEXT #}
    {% if component.campaign_text is defined %}
        <div id="copy">
            {{ component.campaign_text.contentblock.content|raw }}
        </div>
    {% endif %}

    {% if component.share is defined %}
        <div id="action">
            {% if component.share_label is defined %}
                <a href="#" class="signup">{{ component.share_label.contentblock.content }}</a>
            {% endif %}
        </div>

        <div id="slider">
            <div class="before">
                <a class="close" href="#">Close</a>
                <h1>Share</h1>
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style center">
                    {% if component.share.share_facebook %}
                        <a class="addthis_button_facebook"></a>
                    {% endif %}
                    {% if component.share.share_twitter %}
                        <a class="addthis_button_twitter"></a>
                    {% endif %}
                    {% if component.share.share_google_plus %}
                        <a class="addthis_button_google_plusone_share"></a>
                    {% endif %}
                    {% if component.share.share_tumblr %}
                        <a class="addthis_button_tumblr"></a>
                    {% endif %}
                    {% if component.share.share_linkedin %}
                        <a class="addthis_button_linkedin"></a>
                    {% endif %}
                    {% if component.share.share_pinterest %}
                        <a class="addthis_button_pinterest"></a>
                    {% endif %}
                </div>
                {% if component.share_link is defined %}
                <script type="text/javascript">
                    var addthis_share = {
                        url: "{{ component.share_link.url }}"
                    };
                </script>
                {% endif %}
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5147655724e6a2dd"></script>
                <!-- AddThis Button END -->
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="overlay"></div>
{% endblock %}